<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526314188816-50vvrpcv14toocs0kji44qpvrklv3kdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526314188816-50vvrpcv14toocs0kji44qpvrklv3kdj</string>
	<key>API_KEY</key>
	<string>AIzaSyAqdeR_n8Lk37FDt0HXqLVbKCG93xcQcz8</string>
	<key>GCM_SENDER_ID</key>
	<string>526314188816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycollege.myCollege</string>
	<key>PROJECT_ID</key>
	<string>sih-2022-caa7a</string>
	<key>STORAGE_BUCKET</key>
	<string>sih-2022-caa7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526314188816:ios:3e18f52bf8c8d91809da95</string>
</dict>
</plist>